body {
	background-color: #DACCC1;
	margin: 0;
}

input {
	font-family: "Gudea";
	background-color: #F5F2E8;
	padding: 0.4rem;
	margin: 0.3rem;
	border-width: 2px;
	border-style: solid;
	border-radius: 0.4rem;
}


input::placeholder {
	border-color: #222222;
	color: #4e4e4e;
}


.root {
	display: flex;
	flex-flow: column;
	height: 100%;
}

#menu-icon,
#profile-icon {
	padding-left: 0.7rem;
	padding-right: 0.7rem;
}

.entry-button {
	font-family: "Koulen";
	background-color: #FFC107;
	border: 2px solid black;
	margin: 1rem;
	padding: 0.3rem 0.7rem;
	border-radius: 0.3rem;
	box-shadow: 0.4rem 0.4rem;
}

.entry-button:hover, .entry-button:focus {
	outline: unset;
	transform: translate(-0.3rem, -0.3rem);
	box-shadow: 0.6rem 0.6rem;
	transition: ease-in-out;
	transition-duration: 500ms;
}

.nav-container {
	/* background-color: #4CAF50; */
	background-color: #7B8295;
	border-radius: 0.5rem;
	box-shadow: 0.4rem 0.4rem;
	margin: 0.5rem 1.0rem;
	display: flex;
	justify-content: space-between;
}

.svg-icon {
	display: flex;
	align-items: center;
	justify-self: center;
}

.logo {
	color: #191817;
	font-family: "Koulen";
	font-weight: 800;
	font-size: 1.5rem;
	text-align: center;
}

.logo>p {
	margin: unset;
}

.submission-form {
	display: flex;
	flex-direction: row;
	justify-items: center;
	align-items: center;
}

.page-container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex: 1 1 auto;
}
