<link rel="stylesheet" href="/assets/css/login_page.css" />
<div class="login-container">
	<div class="login-form-container">
		<form class="login-form" hx-post="/api/auth">
			<input class="login-field" type="text" name="username" placeholder="Username" />
			<input class="login-field" type="password" name="password" placeholder="Password" />
			<button class="entry-button" type="submit">Sign Up</button>
		</form>
	</div>
	<div hx-get="/assets/templates/login-footer.html" hx-trigger="load" hx-swap="outerHTML" hx-target="this">
	</div>
</div>
