<div class="login-container">
	<div class="login-header">
		<p>Sign-Up</p>
	</div>
	<div class="login-form-container">
		<form class="login-form" hx-post="/api/auth">
			<input type="text" name="username" placeholder="Username" />
			<input type="password" name="password" placeholder="Password" />
			<button type="submit">Sign Up</button>
		</form>
	</div>
	<div class="login-footer">
		<button class="entry-button" id="login-button" hx-get="/assets/templates/login.html"
			hx-target=".login-container" hx-swap="outerHTML">
			Login
		</button>
		<button class="entry-button" id="sign-up-button" hx-get="/assets/templates/auth.html"
			hx-target=".login-container" hx-swap="outerHTML">
			Sign Up
		</button>
	</div>
</div>
