<link rel="stylesheet" href="/assets/css/form.css"/>
<div class="form-container">
	<div class="submission-form">
		<form class="submission-form" hx-post="/api/upload_file" hx-target="#file_upload_status" hx-encoding="multipart/form-data"
			hx-swap="innerHTML">
			<input class="input-field" name="file" type="file" />
			<input class="input-field" name="pwd" type="password" placeholder="Password" />
			<button class="input-field submit-button" type="submit">Upload!</button>
		</form>
	</div>

	<div id="file_upload_status"></div>
</div>
