<html>
	<head>
		<script src="https://unpkg.com/htmx.org@2.0.3"></script>
		<title>Senmon</title>
	</head>
	<body>
		<center><h1>Senmon</h1></center>
		<form hx-post="/upload_file" hx-target="#encrypt_file" hx-encoding="multipart/form-data">
			File Upload: <input name="file" type="file" multiple/>
			Password: <input name="pwd" type="password"/>
			<input type="submit"/>
		</form>

		<div id="encrypt_file"></div>

		<form hx-post="/download_file" hx-target="#decrypt_file" enctype="application/x-www-form-urlencoded">
			File Download: <input name="file_name" type="text"/>
			Password: <input name="password" type="password"/>
			<input type="submit"/>
		</form>

		<div id="decrypt_file"></div>
	</body>
</html>
