<html>
	<head>
		<script src="https://unpkg.com/htmx.org@2.0.3"></script>
		<title>Senmon</title>
	</head>
	<body>
		<h1>Upload File</h1>
		<form hx-post="/upload_file" enctype="multipart/form-data">
			File Upload: <input name="file" type="file" multiple/>
			Password: <input name="pwd" type="password"/>
			<input type="submit"/>
		</form>

		<form hx-post="/download_file" enctype="application/x-www-form-urlencoded">
			File Download: <input name="file_name" type="text"/>
			<input type="submit"/>
		</form>
	</body>
</html>
