<!DOCTYPE html>
<html>

<head>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Koulen&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Gudea:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">

	<link href="/assets/css/index.css" rel="stylesheet" />
	<script src="/assets/js/htmx.js"></script>
	<title>Senmon</title>
</head>

<body>
	<div class="root">

		<div hx-get="/assets/templates/navbar.html" hx-target="this" hx-swap="outerHTML" hx-trigger="load">
		</div>

		<div class="page-container">
			<div class="login-container">
				<div class="login-footer">
					<button class="entry-button" id="login-button" hx-get="/assets/templates/login.html"
						hx-swap="outerHTML" hx-target=".login-container">
						Login
					</button>
					<button class="entry-button" id="sign-up-button" hx-get="/assets/templates/auth.html"
						hx-swap="outerHTML" hx-target=".login-container" hx-push-url="/land">
						Sign Up
					</button>
				</div>
			</div>
		</div>

	</div>

</body>

</html>
