<!DOCTYPE html>

<html>

<head>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Koulen&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Gudea:ital,wght@0,400;0,700;1,400&display=swap"
		rel="stylesheet">

	<link href="/assets/css/index.css" rel="stylesheet" />
	<link href="/assets/css/land.css" rel="stylesheet" />
	<script src="/assets/js/htmx.js"></script>
	<script src="/assets/js/htmx-download.js"></script>
	<title>Senmon</title>
</head>

<body>
	<div class="root">
		<div hx-get="/assets/templates/navbar.html" hx-trigger="load" hx-target="this" hx-swap="outerHTML">
		</div>
		<div class="flex-container">
			<div hx-get="/assets/templates/download_file.html" hx-trigger="load" hx-target="this" hx-swap="outerHTML">
			</div>
			<div class="separator">
			</div>
			<div hx-get="/assets/templates/upload_file.html" hx-trigger="load" hx-target="this" hx-swap="outerHTML">
			</div>
		</div>
	</div>
</body>

</html>
